In [79]:
import numpy as np
import pandas as pd

In [80]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

#### 1. What's the version of NumPy that you installed?

In [81]:
print(np.__version__)

1.23.2

#### 2 Number of records in the dataset

In [82]:
df = pd.read_csv('BMW_data.csv')

In [83]:
df.shape[0]

11914

#### 3: The most popular car manufacturers

In [84]:
d = df['Make'].value_counts().to_dict()

In [85]:
dict(sorted(d.items(), key=lambda item: item[1]))

{'Spyker': 3,
 'Genesis': 3,
 'Bugatti': 3,
 'Alfa Romeo': 5,
 'McLaren': 5,
 'Maybach': 16,
 'HUMMER': 17,
 'Tesla': 18,
 'Lotus': 29,
 'Rolls-Royce': 31,
 'Lamborghini': 52,
 'Maserati': 58,
 'Scion': 60,
 'FIAT': 62,
 'Ferrari': 69,
 'Bentley': 74,
 'Plymouth': 82,
 'Aston Martin': 93,
 'Saab': 111,
 'Porsche': 136,
 'Land Rover': 143,
 'Oldsmobile': 150,
 'Lincoln': 164,
 'Pontiac': 186,
 'Chrysler': 187,
 'Buick': 196,
 'Lexus': 202,
 'Mitsubishi': 213,
 'Kia': 231,
 'Acura': 252,
 'Subaru': 256,
 'Volvo': 281,
 'Hyundai': 303,
 'Audi': 328,
 'Infiniti': 330,
 'BMW': 334,
 'Suzuki': 351,
 'Mercedes-Benz': 353,
 'Cadillac': 397,
 'Mazda': 423,
 'Honda': 449,
 'GMC': 515,
 'Nissan': 558,
 'Dodge': 626,
 'Toyota': 746,
 'Volkswagen': 809,
 'Ford': 881,
 'Chevrolet': 1123}

#### 4: Number of unique Audi car models

In [86]:
audi = df[df['Make']=='Audi']
len(audi['Model'].unique())

34

#### 5: Number of columns with missing values

In [87]:
missing_values_dict = df.isnull().sum().to_dict()
count = 0
for col in missing_values_dict:
    if missing_values[col]>0:
        count+=1
print(count)

5

#### 6: Does the median value change after filling missing values?

- Find the median value of "Engine Cylinders" column in the dataset.
- Next, calculate the most frequent value of the same "Engine Cylinders".
- Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
- Now, calculate the median value of "Engine Cylinders" once again. Has it changed?

- Hint: refer to existing mode and median functions to complete the task.

In [88]:
# median before imputing value
df['Engine Cylinders'].median()

6.0

In [89]:
# mode before imputing value
df['Engine Cylinders'].mode()

0   4.00000
Name: Engine Cylinders, dtype: float64

In [90]:
#imputing value
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode(), inplace=True)

In [91]:
# median after imputing value
df['Engine Cylinders'].median()

6.0

#### Question 7
- Select all the "Lotus" cars from the dataset.
- Select only columns "Engine HP", "Engine Cylinders".
- Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the value of the first element of w?

In [95]:
# Select all the "Lotus" cars from the dataset.
Lotus = df[df['Make']=='Lotus']

#Select only columns "Engine HP", "Engine Cylinders".
cols = ["Engine HP", "Engine Cylinders"]
Lotus = Lotus[cols]

# Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows)
Lotus.drop_duplicates(inplace = True)

# Get the underlying NumPy array. Let's call it X.
X = np.array(Lotus)

# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX
XTX = np.dot(X.T , X)

# Invert XTX.
XTX_inv = np.linalg.inv(XTX)

# Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

w = np.dot(np.dot(XTX_inv , X.T),y)
print(w)

[  4.59494481 -63.56432501]